<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGA E-learning Platform | Home</title>
    <link rel="icon" type="image/x-icon" href="logo.png">
    <link rel="shortcut icon" href="../static/media/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/index-style.css">
</head>
<body>
    <section>
        <div class="top-most">
            <div class="logo">
                <img src="logo.png" alt="">
            </div>
            <div class="name">
                <h1 id="title">E-Learning Platform</h1> 
            </div>
        </div>
        <div class="middle-content">
            <aside class="intro-text">                    
                <h2> Welcome to GSOB Learning Hub.</h2>
                <p> Where Teachers share resources and Students, explore and grow. Books and assessments, all in one place. Let's make learning simple and impactful! Dive in.</p>
            </aside>
        </div>
        <div class="button-container">
            <button class="button button-left"><a href="/home">Student</a></button>
            <button class="button button-right"><a href="/authentication">Teacher</a></button>
          </div>
          <div class="btm-blur"></div>
    </section>
  

</body>
</html>