<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TRIS wins</h1>
    <div>
        <p id="email">{{ user.username }}</p>
        <p>Title <input type="text" name="title" id="title"></p>
        <p>Level <select name="level" id="level">
            <option value="S1">S1</option>
            <option value="S2">S2</option>
            <option value="S3">S3</option>
            <option value="S4">S4</option>
            <option value="S5">S5</option>
            <option value="S6">S6</option>
        </select></p>
        <p>Lesson <select name="level" id="level">
            <option value="English">English</option>
            <option value="Biology">Biology</option>
            <option value="Physics">Physics</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Mathematics">Mathematics</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Enterprenuership">Entreprenuership</option>
            <option value="General studies and Commmunication skills">General Studies and Communication Skills</option>
        </select></p>
        <p>Files <input type="file" name="link" id="link"></p>
        <button type="button" onclick="upload_file()">SUBMIT</button>
    </div>
</body>
</html>